<?xml version="1.0"?>
<!--
/**
 * Mailtrap.io - extension for Magento 2
 *
 * NOTICE OF LICENSE
 *
 * This work is licensed under the terms of the MIT license.
 * For a copy, see <https://opensource.org/licenses/MIT>.
 *
 * @category   Xylo
 * @package    Xylo_Mailtrap
 * @author     Benoît Xylo <benoit.xylo@traverse.waw.pl>
 * @copyright  (c) 2017 Benoît Xylo
 * @license    https://opensource.org/licenses/MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="mailtrap" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Mailtrap.io</label>
                <field id="username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
                <group id="advanced" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Advanced</label>
                    <fieldset_css>config-advanced</fieldset_css>
                    <field id="host" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Host</label>
                        <config_path>system/mailtrap/host</config_path>
                    </field>
                    <field id="port" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Port</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <config_path>system/mailtrap/port</config_path>
                    </field>
                    <field id="auth" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Authentication</label>
                        <source_model>Xylo\Mailtrap\Model\System\Config\Source\SmtpAuth</source_model>
                        <config_path>system/mailtrap/auth</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
